@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');


/*---------------------body/corpo do projeto------------------------------------*/


* { /* utilizar astericos pra pegar todos os elementos que contem na pagina*/


    margin: 0; /* reseto a margem do projeto porq ela ja vem  com um valor padrao*/
    padding: 0; /* o padding é como se fosse a margem que segura o conteudo do  meu html, da minha pagina, e aqui eu tbm reseto ele */

}


body {

    height: auto; /* 100% do VIEW PORT HEIGHT. ou seja, o body vai completar 100% do view independente da tela que se reproduz*/
    box-sizing: border-box;

    background-image: url(img/blackhole.png); /*adiciono a imagem vinda da pagina*/
    background-size: cover; /*digo para imagem se redimensionar de acordo ao local que ela faz parte (body, head, etc...)*/

    background-color: black;
    color: #f6f6f6;
}





/*-------------------------------------------------------FONTES-------------------------------------------------------------------*/



.titulo-destaque { /*criei um tag com um tipo de classe especifica pra nao estilizar tags que eu nao queira*/

    color: yellow;

}

.apresentacao { 

    margin: 18%;

    display: flex; /* isso aqui coloca todo mundo em como se fosse uma linha, dai tem de usar um tipo de row pra organizar*/

    align-items: center; /*deixa alinhado no centro da tela, diferente do justify-contet que deixa alinhado no topo*/

    justify-content: space-between; /* aumenta os espaços entre os elementos foto e o container de apresentação.*/
    
    

  }

  .apresentacao_conteudo{ /* na classe filha da classe pai (apresentacoa) fiz um container do conteudo (frase de descricao)*/

    width: 500px; /* o espaço que a div consome na pagina*/

  }

  .apresentacao_conteudo_titulo{

    font-size: 40px;     /* do tamanho da fonte a ser usada na seção*/
    font-family: "Smooch Sans", serif;

  }

  .apresentacao_conteudo_descricaoPessoal{

    font-size: 17px;
    font-family: "Poppins", serif;


  }

  /*--------------------------------------------------IMAGENS---------------------------------------------------------------------*/

  img {


    width: 300px; /*diminuir o tamanho da imagem*/
    border-radius: 100px; /* diminui a borda da imagem. Deixa ela mais arredondada*/



  }