@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




:root{ /* é uma especie de conteudo para variáves globais, pra nao ficar repetindo toda hora as cores*/

  --cor-principal: #000000; 
  --cor-secundaria: #F6F6F6; 
  --cor-terciaria: #2C74B3;
  --cor-hover: rgb(30, 33, 35);



  --fonte-principal: "Smooch Sans", serif;

}


 /*------------------------------------------------------CABECALHO --------------------------------------------------------------------------*/

 .cabecalho{

  padding:  2% 0% 0% 20%;


 }
 
 .cabecalho_menu{

  display: flex;
  gap: 80px;
  


 }

.links_do_cabecalho{
    

    font-family: "Montserrat", serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--cor-terciaria);


 }

 .links_do_cabecalho:hover{ /* estilização do passar do mouse nos links*/

    
    -ms-transform: scale(1.1); /*aumenta a escala do botao ao passar o mouse*/
    transform: scale(1.1);
  


 }
/*------------------------------------------------------body/corpo do projeto------------------------------------------------------------------*/


* { /* utilizar astericos pra pegar todos os elementos que contem na pagina*/


    margin: 0; /* reseto a margem do projeto porq ela ja vem  com um valor padrao*/
    padding: 0; /* o padding é como se fosse a margem que segura o conteudo do  meu html, da minha pagina, e aqui eu tbm reseto ele */

}


body {

    /* height: auto; 100% do VIEW PORT HEIGHT. ou seja, o body vai completar 100% do view independente da tela que se reproduz */
    box-sizing: border-box;
  
    background-attachment: fixed;
    background-size: cover; /*digo para imagem se redimensionar de acordo ao local que ela faz parte (body, head, etc...)*/

    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
  
}



/*-------------------------------------------------------FONTES-------------------------------------------------------------------*/



.titulo-destaque { /*criei um tag com um tipo de classe especifica pra nao estilizar tags que eu nao queira*/

    color: yellow;


}

.apresentacao { 

    padding: 4% 20%;
    gap: 42px;

    display: flex; /* isso aqui coloca todo mundo em como se fosse uma linha, dai tem de usar um tipo de row pra organizar*/

    align-items: center; /*deixa alinhado no centro da tela, diferente do justify-contet que deixa alinhado no topo*/

    justify-content: space-between; /* aumenta os espaços entre os elementos foto e o container de apresentação.*/

    
    
    

  }

  .apresentacao_conteudo{ /* na classe filha da classe pai (apresentacoa) fiz um container do conteudo (frase de descricao)*/

    width: 50%; /* o espaço que a div consome na pagina*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    

  }

  .apresentacao_conteudo_titulo{

    font-size: 2.5rem;     /* do tamanho da fonte a ser usada na seção, porém usa o rem pra ele se adaptadar ao navegador*/
    font-family: "Smooch Sans", serif;
    text-align: justify;
    
    

  }

  .apresentacao_conteudo_descricao{

    
    font-size: 1.0rem;  /* edita o tamanho da letra */
    font-family: "Poppins", serif; /* importo a fonte pelo site da google fonts*/
    text-align: justify;
    


  }

  .lista{

    padding-top: 8px;



  }

  

  

  .apresentacao_links_paragrafo {


    font-size: 1rem;  /* edita o tamanho da letra */
    font-family: "Poppins", serif; /* importo a fonte pelo site da google fonts*/
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    
    
  }


  /*--------------------------------------------------IMAGENS---------------------------------------------------------------------*/

  .imagem_de_perfil{

    width: 35%; /*diminuir o tamanho da imagem de PERFIL*/
    border-radius: 20px; /* diminui a borda da imagem. Deixa ela mais arredondada*/

  }

  .imagem_e_legenda{
    
    display: flex; /*utilização do flexbox*/
    align-items: center;   /*centralizo a legenda com a imagem */
    flex-direction: column; /*alinho o texto e a imagem em uma coluna*/

  }



  /*------------------------------------------------BOTÕES----------------------------------------------------------------------*/


  .apresentacao_botoes { /* aqui fica a organizacao da apresentacao dos botoes */

    display: flex; /*sempre que criar um container utilizar o display flex pra facilitar a divisao de espacos entre os filhos */
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
  }

 .botoes_link { /* styles dos botoes*/

    /* background-color: #22d4fd; /* muda a cor de fundo */

    display: flex;
    justify-content: center;

    width: 50%; /*  tamanho do botao*/
    border-radius: 12px; /* pra arredondar a borda*/
    gap: 16px;
    
    padding: 15px 0; /*primeiro valor vem pro vertical | e o segundo pro horizontal - */
    text-align: center; /* alinho o texto dentroo do botao para o centro*/
    font-size: 1.0rem ; 
    font-family: "Poppins", serif;
    font-weight: 600;
    color: var(--cor-secundaria);
    border: 2px outset var(--cor-terciaria); /* estilo da borda do botão*/



 }


 .botoes_link:hover{ /* o hover selector serve pra quando vc passar o mouse sobre o botao ou ancora e fazer aquele efeito de preenchiemento e seleção*/

    background-color: rgb(30, 33, 35);  /* altera a cor de fundo ao passar o ponto do mouse*/
    -ms-transform: scale(1.1); /*aumenta a escala do botao ao passar o mouse*/
    transform: scale(1.1);
    cursor: pointer;

      


 }



 /*----------------------------------------------------------RODAPÉ--------------------------------------------------------------*/


 .rodape{


    padding: 8px;
    text-align: center;
    font-size: 1.0rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-hover);
    align-items: center;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


 }

 a{

  text-decoration: none;

 }


 /*-------------------------------------------------------MEDIA QUERY--------------------------------------------------------*/
 /*---------------------------------------------------para mobile----------------------------------------------------------------------*/

 /* @media (max-width: 880px ){




    .cabecalho{

      padding: 8% ;



    }

    .apresentacao{

      flex-direction: column-reverse;
      padding: 5%;
      

    }

    .apresentacao_conteudo{
      display: flex;

      width: 100%;

    }

    .cabecalho_menu{

      justify-content: center;


    }

    .imagem_de_perfil{

      width: 50%;



    } */

  
    












 }